<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ICalcService" />
        <binding name="WSDualHttpBinding_ICalcService1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9011/CalcService" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_ICalcService" contract="CalcServiceReference.ICalcService"
        name="WSDualHttpBinding_ICalcService">
        <identity>
          <userPrincipalName value="Brisktech-PC\Brisktech" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9011/CalcService" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_ICalcService1" contract="ServiceReferenceCalc.ICalcService"
        name="WSDualHttpBinding_ICalcService1">
        <identity>
          <userPrincipalName value="DESKTOP-CSIF16A\user" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>