<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="Event" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Event" binding="wsDualHttpBinding"
                bindingConfiguration="Event" contract="EventService.IVelibSubscriber"
                name="Event">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>