<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="first"/>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="second"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/maths" binding="basicHttpBinding" bindingConfiguration="first" contract="MathsService.IMathsService" name="first"/>
            <endpoint address="http://localhost:2501/operation" binding="wsHttpBinding" bindingConfiguration="second" contract="MathsService.IMathsService" name="second">
                <identity>
                    <userPrincipalName value="DESKTOP-CSIF16B\user"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
